body {

    background-color: white;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}

.pages {

    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    padding-left: 100px;
    padding-right: 100px;
}

a {

    text-decoration: none;
    color: #F9FAF8;
}

/* This is hero text */
.section {

    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 100px ;

}

.section h2 {

    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.section p {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 600px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 800;
    border: none;
    border-radius: 8px;
    padding: 15px;
    width: 100px;
    cursor: pointer;
}

.hero-image {

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 500px;
    height: 250px;
    background-color: gray;
    
}

/* Info section */
.info-section {
   text-align: center;

}
.info-section h2 {

    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info-cards {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    font-size: 18px;
    flex-wrap: wrap;

}

.card {
    max-width: 200px;
    padding-top: 50px;
}

.box {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;   
    border-radius: 12px;         
    margin-bottom: 10px
}

/* Quote section */

.quote-section {

    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px 200px;
}

.quote {

    font-size: 36px;
    color: #1F2937;
    font-weight: 300;

}

.author {
    align-self: flex-end;
    font-weight: 700;
    font-size: 20px;
}

/* Footer */

.signup {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    padding: 40px 100px;
    margin: 100px;
    border-radius: 8px;    
}

.signup button {
    background-color: transparent;
    border: 2px solid #F9FAF8;  
    color: #F9FAF8;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    width: 150px;
}

.signup-title {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
    margin: 0;
}

.signup-subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

footer {

    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 30px;
}